<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grtsinry43.grtblog.mapper.ArticleMapper">
    <!--<select id="getLastFiveArticles" resultType="com.grtsinry43.grtblog.vo.ArticleVO">-->
    <!--    select *-->
    <!--    from article-->
    <!--    order by created_at desc-->
    <!--    limit 5-->
    <!--</select>-->
    <select id="getArticleListByPage" resultType="com.grtsinry43.grtblog.entity.Article">
        select *
        from article
        where is_published = 1 and deleted_at is null
        order by is_top desc, created_at desc
        limit #{start}, #{pageSize}
    </select>

    <select id="getArticleListByPageAdmin" resultType="com.grtsinry43.grtblog.entity.Article">
        select *
        from article
        where deleted_at is null
        order by is_top desc, created_at desc
        limit #{start}, #{pageSize}
    </select>
</mapper>