<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grtsinry43.grtblog.mapper.PermissionMapper">
    <select id="batchGetPermissionsByPermissionIds" resultType="com.grtsinry43.grtblog.entity.Permission">
        SELECT * FROM permission WHERE id IN
        <foreach item="permissionId" collection="list" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </select>
</mapper>