<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grtsinry43.grtblog.mapper.RolePermissionMapper">
    <select id="getRolePermissionsByRoleIds" resultType="com.grtsinry43.grtblog.entity.RolePermission">
        SELECT * FROM role_permission WHERE role_id IN
        <foreach item="roleId" collection="list" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>