.footerContainer .dark {
  background-color: rgba(var(--primary-foreground), 0.05);
  color: white;
  padding: 20px;
  text-align: center;
}

.footerContainer {
  background-color: rgba(var(--primary), 0.05);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

.footerText {
  margin: 0;
  font-size: 14px;
}

.footerLink {
  color: var(--primary);
  text-decoration: none;
  margin-right: 0.25em;
}

.footerLink:hover {
  text-decoration: underline;
}

.recordNumber {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(var(--foreground), 0.5);
  letter-spacing: 0.05em;

  span {
    margin: 0 1em;
  }

  a:hover {
    color: var(--primary-foreground);
    transition: color 0.3s;
  }
}
