.footerContainer {
  position: relative;
  background-color: rgba(var(--primary), 0.05);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.footerContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
}

.footerContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.05' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  opacity: 0.3;
  pointer-events: none;
}

.footerContainer.dark {
  background-color: rgba(var(--primary-foreground), 0.05);
  color: white;
}

.footerText {
  margin: 0;
  font-size: 14px;
}

.footerLink {
  color: var(--primary);
  text-decoration: none;
  margin-right: 0.25em;
}

.footerLink:hover {
  text-decoration: underline;
}

.recordNumber {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(var(--foreground), 0.5);
  letter-spacing: 0.05em;

  span {
    margin: 0 1em;
  }

  a:hover {
    color: var(--primary-foreground);
    transition: color 0.3s;
  }
}
