.navbarWrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  width: 100%;
  background-color: rgba(var(--background), 0.3);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  color: rgb(var(--foreground));
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(var(--foreground), 0.1);
  transition: all 0.2s ease;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 0.1) 1px,
                  transparent 1px
  ),
  linear-gradient(
                  to bottom,
                  rgba(255, 255, 255, 0.1) 1px,
                  transparent 1px
  );
  background-size: 20px 20px;
  pointer-events: none;
  opacity: 1;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.1;
  pointer-events: none;
}

.navbar.scrolled {
  background-color: rgba(var(--background), 0.7);
}

@media (prefers-color-scheme: dark) {
  .navbar::before {
    background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.1) 1px,
                    transparent 1px
    ),
    linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.1) 1px,
                    transparent 1px
    );
  }
}

.navbarContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarWrapper {
  cursor: pointer;
}

.avatar {
  border: 1px solid rgb(var(--border));
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.navItemContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navItemWrapper {
  position: relative;
}

.navItemLink {
  text-decoration: none;
}

.navItem {
  margin: 0 15px;
  cursor: pointer;
  color: rgb(var(--foreground));
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;

  &:hover {
    color: rgb(var(--primary));
  }
}

.underlineAnimation {
  position: relative;
  display: inline-block;
}

.underlineAnimation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underlineAnimation:hover::after {
  width: 100%;
}

.glowAnimation {
  color: var(--primary);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(var(--primary), 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(var(--primary), 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(var(--primary), 0.5);
  }
}

.glowAnimation:hover {
  animation: glow 1s forwards;
}

.navbarContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchWrapper, .githubWrapper, .themeToggleWrapper, .loginButtonWrapper {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
}

.searchIcon {
  color: rgb(var(--muted-foreground));
  cursor: pointer;
}

.githubLink,
.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(var(--foreground));
  transition: color 0.2s ease;

  &:hover {
    color: rgb(var(--primary));
  }
}

.loginButton {
  color: var(--foreground);
  margin: auto 0;
  cursor: pointer;
  border: rgba(var(--foreground), 0.1) 1px solid;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(var(--primary), 0.2);
  }
}

.submenu {
  position: absolute;
  width: 6em;
  margin-top: 1.7em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(var(--background), 0.7);
  backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  padding: 8px 0;
  z-index: 10;
}

.submenuItemWrapper {
  text-decoration: none;
}

.submenuItem {
  display: block;
  padding: 8px 16px;
  margin: 4px 0;
  color: rgb(var(--foreground));
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(var(--primary), 0.1);
  }
}

.subtitle {
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: rgb(var(--foreground));
  text-align: center;
  padding: 1rem;
  z-index: 5;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(var(--primary), 0.1) 0%, rgba(var(--background), 0.1) 100%);
  z-index: 1;
  pointer-events: none;
}
