.itemCard {
  backdrop-filter: blur(10px) saturate(180%);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
                    circle 200px at var(--mouse-x) var(--mouse-y),
                    rgba(204, 204, 204, 0.2),
                    transparent 40%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

    &::before {
      opacity: 1;
    }

    .arrowIcon {
      transform: translateX(5px);
    }
  }
}

.dateContainer {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  position: relative;
  padding-bottom: 4px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--foreground);
    transform: rotate(-12deg);
    transform-origin: bottom left;
  }
}

.day {
  position: relative;
  font-size: 24px;
  color: var(--foreground);
  font-weight: bold;
  padding-right: 6px;
  padding-bottom: 2px;

  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 6px;
    height: 6px;
    background-color: var(--background);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}

.monthYear {
  font-size: 12px;
  color: var(--foreground);
  opacity: 0.6;
}

.itemTitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--foreground);
  margin-right: 1rem;
  flex-grow: 1;
  text-decoration: none;
}

.underlineAnimation {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--foreground);
    opacity: 0.6;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.arrowIcon {
  color: var(--foreground);
  opacity: 0.6;
  transition: transform 0.3s ease;
  width: 20px;
  height: 20px;
}
