.container {
  height: 40vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    position: relative;
  }
}

.quotationMark {
  color: var(--primary);
  position: absolute;
  left: -1.3em;
  top: -1.3em;
  z-index: -1;
  opacity: 0.3;
}

.arrowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


// TODO : 全局的动画引入

.underlineAnimation {
  position: relative;
  display: inline-block;
}

.underlineAnimation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underlineAnimation:hover::after {
  width: 100%;
}

.glowAnimation {
  color: var(--primary);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(var(--primary), 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(var(--primary), 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(var(--primary), 0.5);
  }
}

.glowAnimation:hover {
  animation: glow 1s forwards;
}
